<!DOCTYPE html>
<html lang="en">
<head>
    <p><img alt="" src="https://www.igs-software.com.br/img/logo.png" style="display: block; margin-left: auto; margin-right: auto; width: 50%;" /></p>

    <p>&nbsp;</p>
    
    <p style="text-align:center">&nbsp;</p>
    {% block content1 %}
    <p style="text-align:center"><span style="font-family:sans-serif"><span style="color:#9b59b6"><strong><span style="font-size:48px">Home</span></strong></span></span></p>
    {% endblock content1 %}
    <hr />
    <p>&nbsp;</p>
    
    <p>&nbsp;</p>
    {% block content2 %}

    <p style="text-align:center">
        <a href="{% url 'admin:index' %}">
            <button>Admin</button>
        </a>
    </p>

    <p style="text-align:center">
        <a href="{% url 'api:api-root' %}">
            <button>API</button>
        </a>
    </p>
        
    <p style="text-align:center">
        <a href="{% url 'employee.index' %}">
            <button>Employees List</button>
        </a>
    </p>
 
    {% endblock content2 %}
</body>

<style>

    body {
        height: 100%;
    }

    body {
        margin: 0;
        background: linear-gradient(45deg, #49a09d, #5f2c82);
        font-family: sans-serif;
        font-weight: 100;
    }

    button {
        color: #ffffff;
        background-color: #9b59b6;
        font-size: 19px;
        border: 1px solid #2d63c8;
        padding: 15px 100px;
        cursor: pointer
    }
    button:hover {
        color: #2d63c8;
        background-color: #ffffff;
    }

</style>

</html>